In [2]:
import pandas as pd
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)
# from geopy.geocoders import Nominatim
import matplotlib.pyplot as plt
import seaborn as sns
import geopandas as gpd
import descartes

In [3]:
ec = pd.read_csv("../data/hurricanes_east_coast.csv", na_values = ' ')
ec.head(50)

,sid,season,number,name,iso_time,nature,lat,lon,wmo_wind,wmo_pres,wmo_agency,dist2land,landfall,usa_lat,usa_lon,usa_status,usa_wind,usa_pres,usa_sshs,usa_eye,usa_seahgt,storm_speed,storm_dir
0,1851175N26270,1851,5,NOT_NAMED,1851-06-25 21:00:00,TS,28.1333,-96.5667,80.0,NaN,hurdat_atl,22,0.0,28.2000,-96.8000,HU,80.0,NaN,1.0,NaN,NaN,5,286
1,1851175N26270,1851,5,NOT_NAMED,1851-06-26 00:00:00,TS,28.1667,-96.8000,70.0,NaN,hurdat_atl,0,0.0,28.2000,-97.0000,HU,70.0,NaN,1.0,NaN,NaN,5,282
2,1851175N26270,1851,5,NOT_NAMED,1851-06-26 03:00:00,TS,28.2265,-97.0793,NaN,NaN,NaN,0,0.0,28.2398,-97.2727,HU,65.0,NaN,1.0,NaN,NaN,5,284
3,1851175N26270,1851,5,NOT_NAMED,1851-06-26 06:00:00,TS,28.3000,-97.4000,60.0,NaN,hurdat_atl,0,0.0,28.3000,-97.6000,TS,60.0,NaN,0.0,NaN,NaN,6,283
4,1851175N26270,1851,5,NOT_NAMED,1851-06-26 09:00:00,TS,28.3617,-97.7476,NaN,NaN,NaN,0,0.0,28.3425,-97.9501,TS,60.0,NaN,0.0,NaN,NaN,6,282
5,1851175N26270,1851,5,NOT_NAMED,1851-06-26 12:00:00,TS,28.4333,-98.1000,60.0,NaN,hurdat_atl,0,0.0,28.4000,-98.3000,TS,60.0,NaN,0.0,NaN,NaN,6,284
6,1851175N26270,1851,5,NOT_NAMED,1851-06-26 15:00:00,TS,28.5158,-98.4268,NaN,NaN,NaN,0,0.0,28.4774,-98.6151,TS,55.0,NaN,0.0,NaN,NaN,6,290
7,1851175N26270,1851,5,NOT_NAMED,1851-06-26 18:00:00,TS,28.6333,-98.7333,50.0,NaN,hurdat_atl,0,0.0,28.6000,-98.9000,TS,50.0,NaN,0.0,NaN,NaN,6,298
8,1851175N26270,1851,5,NOT_NAMED,1851-06-26 21:00:00,TS,28.7966,-99.0267,NaN,NaN,NaN,0,0.0,28.7774,-99.1650,TS,50.0,NaN,0.0,NaN,NaN,6,306
9,1851175N26270,1851,5,NOT_NAMED,1851-06-27 00:00:00,TS,29.0000,-99.3000,50.0,NaN,hurdat_atl,0,0.0,29.0000,-99.4000,TS,50.0,NaN,0.0,NaN,NaN,6,312
10,1851175N26270,1851,5,NOT_NAMED,1851-06-27 03:00:00,TS,29.2258,-99.5650,NaN,NaN,NaN,0,0.0,29.2425,-99.6225,TS,45.0,NaN,0.0,NaN,NaN,6,317
11,1851175N26270,1851,5,NOT_NAMED,1851-06-27 06:00:00,TS,29.4727,-99.8000,40.0,NaN,hurdat_atl,0,0.0,29.5000,-99.8000,TS,40.0,NaN,0.0,NaN,NaN,6,325
12,1851175N26270,1851,5,NOT_NAMED,1851-06-27 09:00:00,TS,29.7205,-99.9680,NaN,NaN,NaN,0,0.0,29.7500,-99.9226,TS,40.0,NaN,0.0,NaN,NaN,6,336
13,1851175N26270,1851,5,NOT_NAMED,1851-06-27 12:00:00,TS,29.9778,-100.0560,40.0,NaN,hurdat_atl,0,0.0,30.0000,-100.0000,TS,40.0,NaN,0.0,NaN,NaN,5,352
14,1851175N26270,1851,5,NOT_NAMED,1851-06-27 15:00:00,TS,30.2500,-100.0580,NaN,NaN,NaN,0,0.0,30.2500,-100.0580,TS,40.0,NaN,0.0,NaN,NaN,5,356
15,1851175N26270,1851,5,NOT_NAMED,1851-06-27 18:00:00,TS,30.5000,-100.1000,40.0,NaN,hurdat_atl,0,0.0,30.5000,-100.1000,TS,40.0,NaN,0.0,NaN,NaN,5,351
16,1851175N26270,1851,5,NOT_NAMED,1851-06-27 21:00:00,TS,30.7500,-100.1470,NaN,NaN,NaN,0,0.0,30.7500,-100.1470,TS,40.0,NaN,0.0,NaN,NaN,5,350
17,1851181N19275,1851,6,NOT_NAMED,1851-06-30 09:00:00,TS,19.6998,-87.3501,NaN,NaN,NaN,15,0.0,NaN,NaN,NaN,NaN,NaN,-1.0,NaN,NaN,7,287
18,1851181N19275,1851,6,NOT_NAMED,1851-06-30 12:00:00,TS,19.8000,-87.7000,NaN,NaN,NaN,0,0.0,NaN,NaN,NaN,NaN,NaN,-1.0,NaN,NaN,7,287
19,1851181N19275,1851,6,NOT_NAMED,1851-06-30 15:00:00,TS,19.9075,-88.0925,NaN,NaN,NaN,0,0.0,NaN,NaN,NaN,NaN,NaN,-1.0,NaN,NaN,8,285
20,1851181N19275,1851,6,NOT_NAMED,1851-06-30 18:00:00,TS,20.0000,-88.5000,NaN,NaN,NaN,0,0.0,NaN,NaN,NaN,NaN,NaN,-1.0,NaN,NaN,8,281
21,1851181N19275,1851,6,NOT_NAMED,1851-06-30 21:00:00,TS,20.0499,-88.9001,NaN,NaN,NaN,0,0.0,NaN,NaN,NaN,NaN,NaN,-1.0,NaN,NaN,8,278
22,1851181N19275,1851,6,NOT_NAMED,1851-07-01 00:00:00,TS,20.1000,-89.3000,NaN,NaN,NaN,0,0.0,NaN,NaN,NaN,NaN,NaN,-1.0,NaN,NaN,8,281
23,1851181N19275,1851,6,NOT_NAMED,1851-07-01 03:00:00,TS,20.1924,-89.7000,NaN,NaN,NaN,0,0.0,NaN,NaN,NaN,NaN,NaN,-1.0,NaN,NaN,8,285
24,1851181N19275,1851,6,NOT_NAMED,1851-07-01 06:00:00,TS,20.3000,-90.1000,NaN,NaN,NaN,0,0.0,NaN,NaN,NaN,NaN,NaN,-1.0,NaN,NaN,8,285
25,1851181N19275,1851,6,NOT_NAMED,1851-07-01 09:00:00,TS,20.4000,-90.5075,NaN,NaN,NaN,0,0.0,NaN,NaN,NaN,NaN,NaN,-1.0,NaN,NaN,8,285
26,1851181N19275,1851,6,NOT_NAMED,1851-07-03 21:00:00,TS,22.2999,-97.7001,NaN,NaN,NaN,10,0.0,NaN,NaN,NaN,NaN,NaN,-1.0,NaN,NaN,6,290
27,1851181N19275,1851,6,NOT_NAMED,1851-07-04 00:00:00,TS,22.4000,-98.0000,NaN,NaN,NaN,0,0.0,NaN,NaN,NaN,NaN,NaN,-1.0,NaN,NaN,6,290
28,1851181N19275,1851,6,NOT_NAMED,1851-07-04 03:00:00,TS,22.4999,-98.3000,NaN,NaN,NaN,0,0.0,NaN,NaN,NaN,NaN,NaN,-1.0,NaN,NaN,6,290
29,1851181N19275,1851,6,NOT_NAMED,1851-07-04 06:00:00,TS,22.6000,-98.6000,NaN,NaN,NaN,0,0.0,NaN,NaN,NaN,NaN,NaN,-1.0,NaN,NaN,6,290
30,1851181N19275,1851,6,NOT_NAMED,1851-07-04 09:00:00,TS,22.7001,-98.8999,NaN,NaN,NaN,0,0.0,NaN,NaN,NaN,NaN,NaN,-1.0,NaN,NaN,6,290
31,1851228N13313,1851,10,NOT_NAMED,1851-08-19 03:00:00,TS,18.2517,-69.3451,NaN,NaN,NaN,22,0.0,18.1925,-70.2152,HU,80.0,NaN,1.0,NaN,NaN,18,287
32,1851228N13313,1851,10,NOT_NAMED,1851-08-19 06:00:00,TS,18.5333,-70.2667,70.0,NaN,hurdat_atl,0,0.0,18.4000,-71.1000,HU,70.0,NaN,1.0,NaN,NaN,18,290
33,1851228N13313,1851,10,NOT_NAMED,1851-08-19 09:00:00,TS,18.8541,-71.0760,NaN,NaN,NaN,0,0.0,18.6417,-71.8578,HU,65.0,NaN,1.0,NaN,NaN,17,292
34,1851228N13313,1851,10,NOT_NAMED,1851-08-19 12:00:00,TS,19.1667,-71.9000,60.0,NaN,hurdat_atl,0,0.0,18.9000,-72.6000,TS,60.0,NaN,0.0,NaN,NaN,18,288
35,1851228N13313,1851,10,NOT_NAMED,1851-08-19 21:00:00,TS,19.8391,-74.6230,NaN,NaN,NaN,30,0.0,19.6419,-75.1004,TS,65.0,NaN,1.0,NaN,NaN,15,287
36,1851228N13313,1851,10,NOT_NAMED,1851-08-20 00:00:00,TS,20.0667,-75.3667,70.0,NaN,hurdat_atl,0,0.0,19.9000,-75.9000,HU,70.0,NaN,1.0,NaN,NaN,16,289
37,1851228N13313,1851,10,NOT_NAMED,1851-08-20 03:00:00,TS,20.3491,-76.1934,NaN,NaN,NaN,0,0.0,20.1850,-76.7651,HU,70.0,NaN,1.0,NaN,NaN,16,291
38,1851228N13313,1851,10,NOT_NAMED,1851-08-20 06:00:00,TS,20.6667,-77.0000,70.0,NaN,hurdat_atl,0,0.0,20.5000,-77.6000,HU,70.0,NaN,1.0,NaN,NaN,16,294
39,1851228N13313,1851,10,NOT_NAMED,1851-08-20 09:00:00,TS,20.9945,-77.7178,NaN,NaN,NaN,0,0.0,20.8419,-78.3228,HU,70.0,NaN,1.0,NaN,NaN,15,297
40,1851228N13313,1851,10,NOT_NAMED,1851-08-20 12:00:00,TS,21.3333,-78.4000,70.0,NaN,hurdat_atl,0,0.0,21.2000,-79.0000,HU,70.0,NaN,1.0,NaN,NaN,15,297
41,1851228N13313,1851,10,NOT_NAMED,1851-08-20 15:00:00,TS,21.6666,-79.1202,NaN,NaN,NaN,0,0.0,21.5500,-79.7301,HU,70.0,NaN,1.0,NaN,NaN,15,297
42,1851228N13313,1851,10,NOT_NAMED,1851-08-20 18:00:00,TS,22.0000,-79.8000,70.0,NaN,hurdat_atl,0,0.0,21.9000,-80.4000,HU,70.0,NaN,1.0,NaN,NaN,14,300
43,1851228N13313,1851,10,NOT_NAMED,1851-08-20 21:00:00,TS,22.3404,-80.3820,NaN,NaN,NaN,0,0.0,22.2570,-80.9229,HU,65.0,NaN,1.0,NaN,NaN,12,302
44,1851228N13313,1851,10,NOT_NAMED,1851-08-21 00:00:00,TS,22.6667,-80.9333,60.0,NaN,hurdat_atl,0,0.0,22.6000,-81.4000,TS,60.0,NaN,0.0,NaN,NaN,12,300
45,1851228N13313,1851,10,NOT_NAMED,1851-08-21 03:00:00,TS,22.9498,-81.5287,NaN,NaN,NaN,0,0.0,22.8999,-81.9429,TS,60.0,NaN,0.0,NaN,NaN,12,297
46,1851228N13313,1851,10,NOT_NAMED,1851-08-23 21:00:00,TS,29.9333,-85.6666,100.0,NaN,hurdat_atl,22,0.0,30.1000,-85.7000,HU,100.0,NaN,3.0,NaN,NaN,12,37
47,1851228N13313,1851,10,NOT_NAMED,1851-08-24 00:00:00,TS,30.4333,-85.2000,90.0,NaN,hurdat_atl,0,0.0,30.7000,-85.1000,HU,90.0,NaN,2.0,NaN,NaN,12,40
48,1851228N13313,1851,10,NOT_NAMED,1851-08-24 03:00:00,TS,30.8485,-84.7902,NaN,NaN,NaN,0,0.0,31.1803,-84.5853,HU,80.0,NaN,1.0,NaN,NaN,11,41
49,1851228N13313,1851,10,NOT_NAMED,1851-08-24 06:00:00,TS,31.2333,-84.4000,70.0,NaN,hurdat_atl,0,0.0,31.6000,-84.1000,HU,70.0,NaN,1.0,NaN,NaN,10,39

In [4]:
ec = ec[['SID','SEASON', 'NAME','ISO_TIME','NATURE','LAT','LON','WMO_WIND','WMO_PRES',
         'WMO_AGENCY', 'DIST2LAND', 'LANDFALL', 'USA_LAT', 'USA_LON', 'USA_STATUS', 'USA_WIND', 'USA_PRES', 
         'USA_SSHS', 'USA_SEAHGT', 'STORM_SPEED', 'STORM_DIR']]

KeyError: "None of [Index(['SID', 'SEASON', 'NAME', 'ISO_TIME', 'NATURE', 'LAT', 'LON', 'WMO_WIND',\n       'WMO_PRES', 'WMO_AGENCY', 'DIST2LAND', 'LANDFALL', 'USA_LAT', 'USA_LON',\n       'USA_STATUS', 'USA_WIND', 'USA_PRES', 'USA_SSHS', 'USA_SEAHGT',\n       'STORM_SPEED', 'STORM_DIR'],\n      dtype='object')] are in the [columns]"

In [ ]:
ec.shape

In [ ]:
ec.rename(columns = {
    "SID" : "storm_id",
    "SEASON" : "year",
    "LAT" : "latitude",
    "LON" : "longitude",
    "WMO_WIND" : "wmo_wind(knots)",
    "WMO_PRES" : "wmo_pressure(mb)", # World Meteorological Organization
    "DIST2LAND" : "dist2land(km)",
    "LANDFALL" : "landfall(km)",
    "USA_SSHS" : "storm_category",
    "USA_SEAHGT" : "sea_height(ft)",
    "STORM_SPEED" : "storm_speed(knots)",
    "STORM_DIR" : "storm_direction(degrees)"
    }, inplace = True)
ec.columns = ec.columns.str.lower()
ec.drop(index = 0, inplace = True)
ec.reset_index(drop = True, inplace = True)

In [ ]:
storm_status = {
    "DB" : "disturbance",
    "TD" : "tropical depression",
    "TS" : "tropical storm",
    "TY" : "typhoon",
    "ST" : "super typhoon",
    "TC" : "tropical cyclone",
    "HU" : "hurricane",
    "HR" : "hurricane",
    "SD" : "subtropical depression",
    "SS" : "subtropical storm",
    "EX" : "extratropical systems",
    "PT" : "post tropical",
    "IN" : "inland",
    "DS" : "dissipating",
    "LO" : "low",
    "WV" : "tropical wave",
    "ET" : "extrapolated",
    "MD" : "monsoon depression"
}

new_values = {
    "usa_status" : storm_status
}
    
def rename_values(df, dictionary):
    for k,v in dictionary.items():
        df[k] = df[k].map(v)
    
rename_values(ec, new_values)

In [ ]:
ec['landfall(km)'] = ec['landfall(km)'].map(float)
ec["longitude"] = ec["longitude"].map(float)
ec["latitude"] = ec["latitude"].map(float)

ec = ec[ec['landfall(km)'] == 0]
ec = ec[ec['longitude'] < -65]
ec = ec[ec['longitude'] > -110]
ec = ec[ec["latitude"] < 50]
ec = ec[ec["latitude"] > 23.5]

In [ ]:
ec.to_csv('../data/hurricanes_east_coast_clean.csv', index = False)
ec = pd.read_csv('../data/hurricanes_east_coast_clean.csv')

In [ ]:
ec.head()

In [ ]:
ec["storm_id"].value_counts().unique().sum()

In [ ]:
ec.shape

In [ ]:
ec.info()

In [ ]:
plt.figure(figsize= (15,12))
plt.scatter(x = ec["longitude"],
           y = ec["latitude"],
           s = 0.5);

In [ ]:
geodf = gpd.GeoDataFrame(
    ec, geometry=gpd.points_from_xy(ec["longitude"], ec["latitude"]))
# df = geopandas.read_file(geopandas.datasets.get_path())
geodf.head()

In [ ]:
usa = gpd.read_file('../maps/states_21basic/states.shp')
usa.head()

In [ ]:
def point_location(df1, df2, col1, new_column = None):
    # empty list
    location_dict = {}
    # iterate through hurricane points
    for point_index, point in df1["geometry"].iteritems():
        # iterate through our location dataframe
        
        for index, location in df2["geometry"].iteritems():
            if point.within(location) == True:
                location_dict[point_index] = df2[col1][index]
                
    
    
    return location_dict

In [ ]:
# Add a state column
storm_states = point_location(geodf, usa, "STATE_NAME")
indecies_to_keep = list(storm_states.keys())
states_list = list(storm_states.values())
geodf = geodf.loc[indecies_to_keep, :]
geodf["state"] = states_list
geodf.reset_index(inplace = True, drop = True)
geodf.shape

In [ ]:
counties = gpd.read_file("../maps/cb_2018_us_county_20m/cb_2018_us_county_20m.shp")
counties.head()

In [ ]:
# add a counties column
storm_counties = point_location(geodf, counties, "NAME")
indecies_to_keep = list(storm_counties.keys())
counties_list = list(storm_counties.values())
geodf = geodf.loc[indecies_to_keep, :]
geodf["county"] = counties_list
geodf.reset_index(inplace = True, drop = True)
geodf.shape

In [ ]:
# world = geopandas.read_file(geopandas.datasets.get_path('naturalearth_lowres'))

# # We restrict to North America.
# north_america = world[world.continent == 'North America'].plot(
#     color='white', edgecolor='black', figsize = (11,10))

minx, miny, maxx, maxy = geodf.total_bounds

usa_ax = usa.plot(color='white', edgecolor='black', figsize = (15,12))



geodf.plot(ax = usa_ax, color="blue", markersize = 0.5)
usa_ax.set_xlim(minx, maxx)
usa_ax.set_ylim(miny, maxy)

plt.show();

In [ ]:
ec["storm_category"].value_counts()

In [ ]:
plt.figure(figsize= (11,10))
sns.scatterplot(x = ec["longitude"],
                y = ec["latitude"],
                s = 1,
                hue = ec["storm_category"],
                palette = "gist_gray");

In [ ]:
ec.head()

In [ ]:
covid_and_hurr = pd.read_csv("../data/covid_and_hurricanes.csv")
covid_and_hurr.head()

In [ ]:
covid_and_hurr.shape

In [ ]:
covid_and_hurr.loc[covid_and_hurr["cat_5_count"] > 0, :]

In [ ]:
geodf.head()

In [ ]:
geodf

In [ ]:
geodf.loc[geodf["usa_stat"]]

In [ ]:
geodf["storm_id"].value_counts().count()

In [ ]:
geodf.columns

In [ ]:
hurricanes_only = geodf.loc[geodf["usa_status"] == "hurricane", :]
hurricanes_only["storm_id"].value_counts().count()

In [ ]:
hurricanes_only.shape

In [ ]:
geodf.loc[geodf["name"] == "ELENA", :]

In [ ]:
covid_and_hurr["hurricane_count"].sum()

In [ ]:
geodf_usa = pd.read_csv("../data/geo_usa.csv")
geodf_usa

In [ ]:
geodf_usa.drop(columns = "Unnamed: 0", inplace = True)
geodf_usa.head()

In [ ]:
geodf_usa.shape

In [ ]:
geodf_usa.info()

In [ ]:
geodf_usa.drop(columns = ["number", "nature", "wmo_pressure(mb)", "wmo_wind(knots)", "wmo_agency", "usa_pres",
                         "usa_lat", "usa_lon", "sea_height(ft)", "storm_speed(knots)", "storm_direction(degrees)"],
              inplace = True)
geodf_usa.head()

In [ ]:
rename_values(geodf_usa, new_values)
geodf_usa.head()

In [ ]:
geodf_usa.isna().sum()

In [ ]:
geodf_usa.loc[geodf_usa["storm_category"] > 0, :].shape

In [ ]:
geodf_usa.loc[geodf_usa["usa_status"] == "hurricane", :].shape

In [ ]:
geodf_usa.loc[(geodf_usa["usa_status"] == "hurricane") & (geodf_usa["storm_category"] <= 0), :]

In [6]:
hurricane_damage = []
hurr_cols = ["Category", "Wind Speeds(mph)", "Storm Surge(feet)", "Observed Damage"]
cat_1 = ["1", "74 - 95", "4\" - 5\"", "Some damage to trees, shrubbery, and unanchored mobile homes"]
cat_2 = ["2", "96 - 110", "6\" - 8\"", "Major damage to mobile homes; damage to buildings' roofs, and blow trees down"]
cat_3 = ["3", "111 - 130", "9\" - 12\"", "Destroy mobile homes; blow down large trees; damage small buildings"]
cat_4 = ["4", "131 - 155", "13\" - 18\"", 
         "Completely destroy mobile homes; lower floors of structures near shore are susceptible to flooding"]
cat_5 = ["5", "> 155", "> 18\"",
         "Extensive damage to homes and industrial buildings; blow away small buildings; lower floors of structures within 500 meters of shore and less than 4.5 m (15 ft) above sea level are damaged"]
hurr_cats = [cat_1, cat_2, cat_3, cat_4, cat_5]
for cat in hurr_cats:
    hurr_stats = dict(zip(hurr_cols, cat))
    hurricane_damage.append(hurr_stats)

hurricane_damage_df = pd.DataFrame(hurricane_damage)
hurricane_damage_df

,Category,Wind Speeds(mph),Storm Surge(feet),Observed Damage
0,1,74 - 95,"4"" - 5""","Some damage to trees, shrubbery, and unanchore..."
1,2,96 - 110,"6"" - 8""",Major damage to mobile homes; damage to buildi...
2,3,111 - 130,"9"" - 12""",Destroy mobile homes; blow down large trees; d...
3,4,131 - 155,"13"" - 18""",Completely destroy mobile homes; lower floors ...
4,5,> 155,"> 18""",Extensive damage to homes and industrial build...

In order to properly combine our two dataframes we needed to find a way to utilize common areas. To do this we used `geopandas` and `plotly`. These packages allowed us to create maps and additional features that we could aggregate our data on. The hurricane dataset included latitude and longitude locations of each hurricane. by converting the dataframe into a geopandas dataframe, an new column was created called `geometry` which stored the latitude and longitude as points. We then downloaded state and county maps of the USA that included a `geometry` column that was the latitudinal and longitudinal shapes of each location. We then utilized geopandas `within()` function to map each hurricane point to specific counties and states. The COVID data was already organized by counties, allowing us to aggregate both dataframes together.

Overall, our model was able to identify clusters to ascertain relative risk in comparison to other clusters, but the significance of clusters is difficult to comprehend. Because we did not have a lot of variation in our hurricane-related features or COVID-19 features, we were not able to identify a locatation that was at an extremely high risk for COVID-19 and hurricanes. Four out of five of our clusters have an average change in COVID-19 cases per week that was greater than 100, meaning that they are considered a COVID-19 red zone. We were able to capture the geographic risk of tropical storms, but COVID-19 places a risk across the board.
### Recommendation 
Natural Disasters can be incredibly destructive. Whether it's the cost of lives or the billions of dollars in damage, when an area is hit with Earthquakes, Hurricanes, Tornadoes, or Fires, the affect can be devastating. This is why they are taken so seriously - knowing that incoming storms can be so destructive causes people to react in an appropriate manner - whether that means evacuation, stocking up on food and ice, or taking whatever preventative measures are necessary. However, what we've seen from our data is that when you compare cost of lives of all the major storms over the last 170 years, it pales in comparison to the number of lives lost to COVID - 19. Hurricane Katrina, a storm that took over 1200 lives is less than 1 percent of the number of people lost to COVID _so far_. Our clustering data clearly emphasizes how COVID is far more dangerous than just about any other hurricane, which illustrates that the appropriate preventative measures need to be taken _more seriously_ than a natural disaster. Unfortunately, we are seeing the effects of what happens when people relax that prevention. The way people are disregarding social distancing is practically comparable to just going for a walk during a category 4 hurricane. This data also illustrates how areas in which social distancing has been maintained have lowered their case rates and potentially saved lives.

In order to aggregate our two dataframes and visualize on a map, we'll need to import two Geopandas `shape` dataframes, one for US States, and one for US Counties. These dataframe provide geometry of each state and county utilizing latitude and longitude data. This will allow us to determine locations of datapoints from our hurricane data and determine which states and counties they affected.