In [1]:
import pandas as pd

In [2]:
covid = pd.read_csv('../data/covid19-us-counties.csv')

In [3]:
covid.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1       0
1  2020-01-22  Snohomish  Washington  53061.0      1       0
2  2020-01-23  Snohomish  Washington  53061.0      1       0
3  2020-01-24       Cook    Illinois  17031.0      1       0
4  2020-01-24  Snohomish  Washington  53061.0      1       0

In [4]:
covid.shape

(402068, 6)

In [5]:
covid.isna().sum()

date         0
county       0
state        0
fips      4021
cases        0
deaths       0
dtype: int64

In [6]:
covid_july28 = covid[covid['date'] == '2020-07-28']['cases']
covid_july28

376334     974
376335    2835
376336     575
376337     338
376338     675
          ...
379545     228
379546     311
379547     243
379548      44
379549       5
Name: cases, Length: 3216, dtype: int64

398851    1073
398852    3320
398853     614
398854     389
398855     836
          ...
402063     251
402064     362
402065     267
402066      53
402067       5
Name: cases, Length: 3217, dtype: int64

376334   NaN
376335   NaN
376336   NaN
376337   NaN
376338   NaN
          ..
402063   NaN
402064   NaN
402065   NaN
402066   NaN
402067   NaN
Name: cases, Length: 6433, dtype: float64

In [ ]:
covid['weekly_change']

In [14]:
covid[covid['state'] == 'Florida']

              date        county    state     fips  cases  deaths
411     2020-03-01  Hillsborough  Florida  12057.0      1       0
412     2020-03-01       Manatee  Florida  12081.0      1       0
440     2020-03-02  Hillsborough  Florida  12057.0      1       0
441     2020-03-02       Manatee  Florida  12081.0      1       0
474     2020-03-03  Hillsborough  Florida  12057.0      2       0
...            ...           ...      ...      ...    ...     ...
399235  2020-08-04       Unknown  Florida      NaN    638       0
399236  2020-08-04       Volusia  Florida  12127.0   7288     118
399237  2020-08-04       Wakulla  Florida  12129.0    627       4
399238  2020-08-04        Walton  Florida  12131.0   1286      14
399239  2020-08-04    Washington  Florida  12133.0    676      15

[9366 rows x 6 columns]