In [1]:
import pandas as pd

In [16]:
covid = pd.read_csv('../data/covid19-us-counties.csv')

In [3]:
covid.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1       0
1  2020-01-22  Snohomish  Washington  53061.0      1       0
2  2020-01-23  Snohomish  Washington  53061.0      1       0
3  2020-01-24       Cook    Illinois  17031.0      1       0
4  2020-01-24  Snohomish  Washington  53061.0      1       0

In [4]:
covid.shape

(402068, 6)

In [6]:
covid.isna().sum()

date         0
county       0
state        0
fips      4021
cases        0
deaths       0
dtype: int64

In [22]:
covid.dtypes

date       object
county     object
state      object
fips      float64
cases       int64
deaths      int64
dtype: object

In [19]:
covid = covid[covid['date'] == '2020-08-04']

In [21]:
covid.groupby('state')['cases'].mean()

state
Alabama                      1398.537313
Alaska                        147.250000
Arizona                     12035.800000
Arkansas                      597.118421
California                   9090.655172
Colorado                      769.714286
Connecticut                  5567.777778
Delaware                     3784.250000
District of Columbia        12398.000000
Florida                      7313.558824
Georgia                      1140.387500
Guam                         1344.000000
Hawaii                        642.000000
Idaho                         532.309524
Illinois                     1811.631068
Indiana                       771.130435
Iowa                          466.979798
Kansas                        284.067961
Kentucky                      276.741667
Louisiana                    1916.538462
Maine                         248.437500
Maryland                     3696.640000
Massachusetts                7946.866667
Michigan                     1110.630952
Minnesota                     650.022727
Mississippi                   758.524390
Missouri                      468.837607
Montana                        83.846154
Nebraska                      319.741176
Nevada                       3266.000000
New Hampshire                 608.454545
New Jersey                   8402.045455
New Mexico                    666.875000
New York                     7280.965517
North Carolina               1282.940000
North Dakota                  128.462963
Northern Mariana Islands       23.000000
Ohio                         1080.750000
Oklahoma                      512.363636
Oregon                        562.857143
Pennsylvania                 1787.537313
Puerto Rico                   244.607595
Rhode Island                 3231.666667
South Carolina               2047.608696
South Dakota                  139.676923
Tennessee                    1142.208333
Texas                        1885.708000
Utah                         1448.896552
Vermont                        95.400000
Virgin Islands                154.333333
Virginia                      708.654135
Washington                   1545.725000
West Virginia                 128.200000
Wisconsin                     825.520548
Wyoming                       125.391304
Name: cases, dtype: float64

In [2]:
import plotly